<section class="company-wrapper" ng-controller="companyCont">
  <nav class="action-buttons" ng-show="show">
    <div class="action">
      <a href="#/performance">
        <div class="create-performance-btn company-btn" ng-click="goMakeAPerformance()">
          Create Performance
        </div>
      </a>
    </div>
    <div class="action">
      <a href="">
        <div class="create-opportunity-btn company-btn">
          Create Opportunity
        </div>
      </a>
    </div>
    <!-- <div class="action">
      <a href="">
        <div class="authorize-company-users company-btn" ng-click="authorize = !authorize">
          Add Authorized Users
        </div>
      </a>
    </div> -->


    <!-- <div class="action">
      <a href="">
        <div class="authorize-company-users company-btn" ng-click="create = !create">
          Create Tester
        </div>
      </a>
    </div> -->


    <div class="action" ng-show="show" ng-click="toggle('EDIT'); editcompany()">
      <a href="">
        <div class="edit-company-btn company-btn">
          Edit Company
        </div>
      </a>
    </div>
    <div class="action">
      <a href="">
        <div class="delete-company-btn company-btn" ng-click="deleteComp()">
          Delete Company
        </div>
      </a>
    </div>
  </nav>
  <header class="company-header">

    <!-- Display Company Hero Image -->
    <img ng-src="{{thisCompany.hero_image_url}}" width="800" height="600" class="company-hero-image" ng-show="show">

    <!-- Edit Company Hero Image -->
    <div class="edit-company-hero-image" ng-show="edit">

      <input type="file" hero-image-edit="heroImageUploadEdit"><br>
      <br>
    </div>

    <!-- Create Company Hero Image -->
    <span class="create-company-hero-image" ng-show="create">Add Company Banner

      <input type="file" hero-image-create="heroImageUploadCreate"><br>
      <br>
    </span>
    <!-- Display Company Hero Image -->
<div class="company-name-type-wrapper">

<!--THIS IS FOR PROFILE IMAGES! -->
  <!-- Display company profile picture -->
  <div class="company-profile-pic" ng-show="show">
    <img ng-src="{{thisCompany.profile_image_url}}" width="500" height="500">
  </div>
  <!-- Edit company profile picture -->
  <div class="company-profile-pic edit-company-profile-pic" ng-show="edit">
    <div>
      <img ng-src="{{thisCompany.profile_image_url}}" width="400" height="400">
    </div><br><br>
    <div>
      Add profile Image
      <input type="file" profile-image-edit="profileImageUploadEdit"><br>
      <br>
    </div>
  </div>

  <!-- Create company profile picture -->
  <span class="company-profile-pic create-company-profile-pic" ng-show="create">
    Add profile Image
    <input type="file" profile-image-create="profileImageUploadCreate"><br>
    <br>
  </span>



<!--================THIS HOLDS ALL THE CREATE EDIT AND VIEW FOR COMPANY DETAILS===================-->
    <div class="company-details-wrapper">

<!--THIS IS FOR CREATING COMPANY DETAILS-->
      <div class="create-company-details" ng-show="create">
        <!-- Create Company Name -->
        <input class="create-company-name" placeholder="add company name" ng-show="create">
        <!-- Create Company Media -->
        <input class="create-company-media create-company-url" placeholder="add company url" ng-show="create">
        <input class="create-company-media create-company-youtube" placeholder="add youtube link" ng-show="create">
        <input class="create-company-media create-company-twitter" placeholder="add twitter link" ng-show="create">
        <input class="create-company-media create-company-facebook" placeholder="add facebook link" ng-show="create">
        <input class="create-company-media create-company-instagram" placeholder="add instagram link" ng-show="create">

        <!-- Create company location -->
        <input class="company-location-input create-company-location-address" placeholder="Company Address" ng-show="create">
        <input class="company-location-input create-company-location-city" placeholder="Company City" ng-show="create">
        <select class="company-location-input create-company-location-state" ng-show="create">
          <option selected disabled>Pick A State</option>
          <option>NC</option>
        </select>
        <input class="company-location-input create-company-location-zip" placeholder="Company Zip Code" ng-show="create">
      </div>

<!--THIS IS FOR EDITING THE COMPANY DETAILS-->
      <!-- Display Company Description -->
      <div class="EDIT-company-description-wrapper" ng-show"edit">
        <!-- Edit Company Name -->
        <input class="edit-company-name" placeholder="edit company name" ng-show="edit">

          <span class="company-media-wrapper">
          <!-- Edit Company Media -->
          <input class="edit-company-media edit-company-url" placeholder="edit company url" ng-show="edit">
          <input class="edit-company-media edit-company-youtube" placeholder="edit youtube link" ng-show="edit">
          <input class="edit-company-media edit-company-twitter" placeholder="edit twitter link" ng-show="edit">
          <input class="edit-company-media edit-company-facebook" placeholder="edit facebook link" ng-show="edit">
          <input class="edit-company-media edit-company-instagram" placeholder="edit instagram link" ng-show="edit">

          <!-- Edit company location -->
          <input class="company-location-input edit-company-location-address" placeholder="Company Address" ng-show="edit">
          <input class="company-location-input edit-company-location-city" placeholder="Company City" ng-show="edit">
          <select class="company-location-input edit-company-location-state" ng-show="edit">
            <option selected disabled>Pick A State</option>
            <option>NC</option>
          </select>
          <input class="company-location-input edit-company-location-zip" placeholder="Company Zip Code" ng-show="edit">

          <!-- Edit Company Description -->
          <div class="edit-company-description-label" ng-show="edit">Edit Company Description</div>
          <textarea class="edit-company-description" ng-show="edit"></textarea>

          <!-- Company Save Edits Button -->
          <div class="company-save-btn-wrapper" ng-show="edit">
            <a href="">
              <div class="company-save-btn" ng-click="savecompany()">
                Save
              </div>
            </a>
          </div>
      </div><!--end EDIT-company-description-wrapper-->

<!--THIS IS FOR VIEWING THE COMPANY DETAILS-->
      <div class="company-description" ng-show="show">

        <!-- Display Company Name -->
        <h1><div class="company-name" ng-show="show"></div></h1>


        <div class="company-social">
          <!-- Display Company Website Button -->
          <span class="company-website">
            <a href="{{company_website_link}}" target="_blank">
              <div class="company-btn" ng-show="show">Visit The Website!</div>
            </a>
          </span>

            <!-- Display Company Media -->
            <span class="mediaWrapper">
              <div class="company-media-youtube" ng-show="show">
                <a href="" target="_blank">
                  <div class="media media-youtube">
                    <i class="fa fa-youtube"></i>
                  </div>
                </a>
              </div>
              <div class="company-media-twitter" ng-show="show">
                <a href="" target="_blank">
                  <div class="media media-twitter">
                    <i class="fa fa-twitter"></i>
                  </div>
                </a>
              </div>
              <div class="company-media-facebook" ng-show="show">
                <a href="" target="_blank">
                  <div class="media media-facebook">
                    <i class="fa fa-facebook"></i>
                  </div>
                </a>
              </div>
              <div class="company-media-instagram" ng-show="show">
                <a href="" target="_blank">
                  <div class="media media-instagram">
                    <i class="fa fa-instagram"></i>
                  </div>
                </a>
              </div> <!--end instagram-->

              <!-- Display company location -->
              <div class="company-location" ng-show="show"></div>

              <div class="company-location-input-wrapper">

            </span><!--end social wrapper-->
          </span> <!--end media wrapper-->
          </div> <!--end company social-->
      </div> <!-- ? its not broke... -->

    </div><!--end VIEW company detail wrapper-->

    <!-- Create Company Description -->
    <div class="create-company-description-label" ng-show="create">Add Company Description</div>
    <textarea class="create-company-description" ng-show="create"></textarea>
  </div>

  <!-- Company Save Create Button -->
  <div class="company-create-btn-wrapper" ng-show="create">
    <a href="">
      <div class="company-create-btn" ng-click="createcompany()">
        Submit
      </div>
    </a>
  </div>

  </div><!--end company description-->



  </header>




  <div class="O-p-R-wrapper" ng-show="show">  <!--Wrapper for opportunities, performances, and reviews-->

    <div class="tabBox">
      <span class="R TabActual" ng-click="setTabs('REV')">Reviews</span>
      <span class="P TabActual TabSelected" ng-click="setTabs('PERF')">Performances</span>
      <span class="O TabActual" ng-click="setTabs('OPPS')">Opporutnities</span>
    </div><br><br>
    <div class="allTabContents">

    <div class="company-performances-wrapper" ng-show="perfTab">
      <div class="company-performances-label">
        <h3>Upcoming Performances:<h3>
      </div>
      <div class="insert-upcoming-performance">
        <!-- <div class="company-performance">
          <a href="/performance">
            <div class='company-performance-box'>
              <div class='company-box-performance-name'>
                Performance Name
              </div>
              <div class='company-box-company-name'>
                Company Name
              </div>
            </div>
          </a>
        </div> -->
      </div>
      <div class="company-performances-label past-performances-label">
        <h3>Past Performances:</h3>
      </div>

      <div class="insert-past-performance">
      </div>

    </div>

    <div class="company-reviews-holder" ng-show="revTab">
      <div class="company-reviews-label">
        <h2>Reviews:</h2>
      </div>

      <div class="company-review" ng-repeat= "review in thisCompany.reviews">
        <div class="company-review-wrapper">
          <span>
            <div class="company-review-img"><img ng-src="{{review.image_url}}" width="95" height="95"></div>
          </span>
          <span class="company-rnd-wrap">
            On <span class="compReviewDate">{{review.created_at}}</span>, <a href="#/userprofile"><span class="compReviewerName" ng-click="tocompanyreviewer()">{{review.display_name}}</span></a> wrote:
            <div class="company-review-text">{{review.opinion}}</div>
          </span>
        </div>
      </div>
      <div class="company-review" ng-show="person != null">
        <div class="company-review-img"><img src="{{person.user_info.image_url}}" width="95" height="95"></div>
        <textarea class="company-new-review" id = "company-new-review"></textarea>
        <a href=""><div class="submit-review-btn" ng-click="submitreview()">Add Review</div></a>
      </div>
    </div>

    <div class="opportunities-wrapper" ng-show="oppsTab">
      <div class="opportunities-label">
        <h2>Opportunities:<h2>
      </div>
      <div class="insert-company-opportunity">

      </div>
    </div>
  </div><!--end alltabcontents-->

  </div><!--end ORP wrapper-->



  <!-- <div class="authorize-user-modal-wrapper" ng-show="authorize">
    <div class="authorize-user-modal-box">
      Input Authorized Users by
      <div class="authorize-user-modal-input-holder">
        <input class="authorize-user-modal-input">
      </div>
    </div>
  </div> -->

  <div class="company-create-opportunity-modal-wrapper hidden">
    <div class="company-create-opportunity-modal">
      <div class="company-create-opportunity-title">
        Opportunity Title<br>
        <input class="opportunity-title-input">
      </div>
      <div class="company-create-opportunity-description">
        Opportunity Description<br>
        <textarea class="opportunity-description-input"></textarea>
      </div>
      <div class="opportunity-contact-info">
        Contact E-Mail<br>
        <input class="opportunity-contact-info-input">
      </div>
      <div class="opportunity-save-btn-wrapper">
        <a href="">
          <div class="opportunity-save-btn" ng-click="saveopportunity()">
            Save Opportunity
          </div>
        </a>
        <a href="">
          <div class="opportunity-cancel-btn">
            Cancel
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
