<section class="company-wrapper" ng-controller="companyCont">
  <nav class="action-buttons">
    <div class="action">
      <a href="">
        <div class="create-performance-btn company-btn">
          Create Performance
        </div>
      </a>
    </div>
    <div class="action">
      <a href="">
        <div class="create-opportunity-btn company-btn">
          Create Opportunity
        </div>
      </a>
    </div>
    <div class="action">
      <a href="">
        <div class="edit-company-btn company-btn">
          Edit Company
        </div>
      </a>
    </div>
    <div class="action">
      <a href="">
        <div class="delete-company-btn company-btn">
          Delete Company
        </div>
      </a>
    </div>
  </nav>
  <header class="company-header">
    <img src="" class="company-hero-image">
    <div class="company-name-type-wrapper">
      <div class="company-name">
        Company Name
      </div>
      <div class="company-type">
        Company & Venue
      </div>
    </div>
  </header>
  <div class="company-location">
    123 Example St. Durham, NC 27703
  </div>
  <div class="company-details-wrapper">
    <div class="company-description">
      Like a sci fi Lone Wolf & Cub, the new Cable series is packed with action, adventure, humor and everything else an X-Men fan could ask for. The Odd Couple of the Marvel Universe, Cable is a soldier from the future, fighting for peace today while Deadpool is the wisecracking, gun-for-hire by-product of the military’s Weapon X program. Sparks fly when this oddest of all couples kicks butts and takes names throughout the Marvel Universe. Traveling back and forth through time, Cable recently traveled back to the future with a special purpose: Protect a mutant baby who could be mutantkind’s savior.
    </div>
    <div class="company-social">
      <div class="company-website">
        <a href="">
          <div class="company-url">
            companyurl
          </div>
        </a>
      </div>
      <div class="company-media-wrapper">
        <div class="company-media-youtube">
          <a href="">
            <div class="media media-youtube">
              <i class="fa fa-youtube"></i>
            </div>
          </a>
        </div>
        <div class="company-media-twitter">
          <a href="">
            <div class="media media-twitter">
              <i class="fa fa-twitter"></i>
            </div>
          </a>
        </div>
        <div class="company-media-facebook">
          <a href="">
            <div class="media media-facebook">
              <i class="fa fa-facebook"></i>
            </div>
          </a>
        </div>
        <div class="company-media-instagram">
          <a href="">
            <div class="media media-instagram">
              <i class="fa fa-instagram"></i>
            </div>
          </a>
        </div> <!--end instagram-->
      </div> <!--end media wrapper-->
    </div> <!--end company social-->
  </div> <!--end company detail wrapper-->
  <div class="O-p-R-wrapper">  <!--Wrapper for opportunities, performances, and reviews-->
    <div class="opportunities-wrapper">
      <div class="opportunities-label">
        Opportunities:
      </div>
      <div class="opportunity">
        <div class="opportunity-poster-image-wrapper">
          <img src="">
        </div>
        <div class="opportunity-poster-name">
          name of poster
        </div>
        <div class="opportunity-date-posted">
          date posted
        </div>
        <div class="opportunity-title">
          name of the opportunity
        </div>
        <div class="opportunity-description">
          But her wit, charm and intelligence just may help her survive through another day. In a city of Marvels, Jessica Jones never found her niche. The very first appearance of Spider-Man. What do you get when you ask the question, What if Spider-Man had a daughter.
        </div>
      </div>
    </div>
    <div class="company-performances-wrapper">
      <div class="company-performance">
        <a href='#/performance'>
          <div class='company-performance-box'>
            <div class='company-box company-box-performance-name'>
              Performance Name
            </div>
            <div class='company-box company-box-company-name'>
              Company Name
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="company-reviews-holder">
      <div class="company-review">  <!--ADD ng-repeat!!!-->
        <div class="company-review-wrapper">
          <div class="company-review-img"><img src=""></div>
          <div class="company-rnd-wrap">
            <div class="company-review-name">Name of reviewer:</div>
            <div class="company-review-date">Date of review:</div>
          </div>
          <div class="company-review-text">Review Text</div>
        </div>
      </div>
    </div>
  </div>
</section>
