<section class="landing-wrapper" ng-controller="searchController">
  <img src="assets/images/thescenery.jpg" style="-webkit-filter: saturate(100%) grayscale(0%) brightness(100%); z-index: -5; position: fixed; top:0;left:0;right:0;bottom:0;" width="100%" height="100%">
  <span class="landingFunctional">
    <header class="landing-header">
        <h1 class="landing-header-text">The Scenery</h1>
        <div class="landing-header-desc">

          <span class="landingColSide">
            Sign up to review performances and performance companies!
          </span>

          <span class="landingColMid">
              All the local live entertainment is now available with a quick search!
          </span>

          <span class="landingColSide">
            Sign up as a professional to create Performances that will be instantly searchable.
          </span>
        <br><br>
      </div>
    </header>

  <div class="landing-input-wrapper">

    <input class="landing-search name-search" id="name-search" placeholder="Search Term"><br><br>

    <a href="">
      <div class="advanced" ng-click="toggleAdvanced()">
        <i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Advanced Search
      </div>
    </a>

    <div class="advancedSearch" ng-show="ADV"><br>
    <input class="landing-search location-search" id="city-search" placeholder="City Or Zip">
    <select class="landing-search location-state-search" id="state-search">
      <option selected disabled>Pick A State</option>
      <option value="ZIP">Search By Zip Code</option>
      <option value="NC">NC</option>
    </select>
    <span class="landing-search-genre-wrapper">
      <!-- spot where genre dropdown goes -->
    </span>
    <select class="landing-search type-search" id="type-search">
      <option value="1" selected="selected">Performance</option>
      <option value="2">Professional</option>
      <option value="3">Company</option>
    </select>
  </div><!--end advanced search--><br>
    <a href=""><div class="landing-search-btn" id="landingSearchBtn" ng-click="searchDB()">Search</div></a>
  </div>

  <div class="performance-show-wrapper hidden">
      <ul class="performance-show-container">
        <!-- <li>
          <a href="">
            <div class="performance-box">
              <div class="box box-performance-name">
                Name Here
              </div>
              <div class="box box-performance-date">
                Date Here
              </div>
            </div>
          </a>
        </li> -->
      </ul>
  </div>

  <!-- <footer class="landing-footer">
    <div class="column-4">
      <a href=""><div class="footer-box">
        Recently Added Performances
      </div></a>
    </div>
    <div class="column-4">
      <a href=""><div class="footer-box">
        Popular Performances Near You
      </div></a>
    </div>
    <div class="column-4">
      <a href=""><div class="footer-box">
        Recent Reviews
      </div></a>
    </div>
    <div class="column-4">
      <a href=""><div class="footer-box">
        Recent Opprotunities.
      </div></a>
    </div>
  </footer> -->
  </span>
</section>
