<div ng-controller="perfAVEDcont">
  <div ng-controller="login-cont">

    <div class="killme" ng-hide="false">
        <!-- {{message}}<br> -->

    <div ng-hide="isLogged()">
      <div class="btn" ng-click="toggle('ADD')">Add</div>
      <!-- <div class="btn" ng-click="toggle('VIEW')">View</div> -->
      <!-- <div class="btn" ng-click="toggle('EDIT')">Edit</div> -->
    </div>

    </div>

  <div class="heroImgContainer">
    <img src="assets/images/lesmis-2.jpg" class ="heroImg">
    <div class ="heroImgWordsContainer" ng-hide="tView">
      COMPANYNAME presents <br> {{thisPerformance.name}}
    </div>
    <a href="">
      <div class="new-hero-image" ng-hide="borrowData(tAdd)">
        Add New Hero Image
      </div>
    </a>
    <div class="heroImgWordsContainer edit-hero-Img-Words-Container" ng-hide="tAdd">
      <select class="hero-img-creator-dropdown">
        <option selected disabled>Creator</option>  <!--might need ng-repeat for this-->
        <option>Company Name</option>
        <option>Professional ID</option>
      </select>
      <span> presents </span><br>
      <input class="hero-img-performance-name" id="performance-name" placeholder="Performance Name" name="name">
    </div>
  </div>

  <div class="performanceInfoContainer">
    <div class="authorized">
      <!--if user is on the authorized user list for any company involved in this production then, display an option to edit this prodcution-->
    </div>

    <div class="performanceDescription" ng-hide="tView">
      {{thisPerformance.description}}
    </div>

    <textarea class="edit-performanceDescription" id="perf-desc" ng-hide="tAdd"></textarea>

    <div class="leftCol">
      <div class="AVED-genre" ng-hide="tView">
        Genre: genre here.
      </div>
      <div class="AVED-genre" ng-hide="tAdd">
        Genre:
        <select class="edit-AVED-genre" ng-hide="tAdd">
          <option selected disabled>Genre</option>
          <option value="1">Theare</option>
          <option value ="2">Improv</option>
          <option value ="3">Dance</option>
          <option value ="4">Film</option>
        </select>
      </div>
      <a href="{{thisPerformance.trailer_link}}">
        <div class="AVED-trailer-link" ng-hide="tView">
          View Trailers
        </div>
      </a>
      <div class="edit-AVED-trailer-link" ng-hide="tAdd">
        Trailer Link:
        <input class="edit-AVED-trailer-link-input" id="trailer-link" name="trailer_link">
      </div>
    </div>

    <div class="rightCol">
      <div class="AVED-tags" ng-hide="tView">
        Tags: tags here
      </div>
      <div class="edit-AVED-tags" ng-hide="tAdd">
        Tags: <input class="edit-AVED-tags-input" id="tags">
      </div>
      <a href="">
        <div class="AVED-prod-images" ng-hide="tView">
          View Prodution Images
        </div>
      </a>
      <a href="">
        <div class="AVED-upload-img" id="AVED-img-1" ng-hide="tAdd">
          Upload Production Images
        </div>
      </a>
      <a href="">
        <div class="AVED-upload-img" id="AVED-img-2" ng-hide="tAdd">
          Upload Production Images
        </div>
      </a>
      <a href="">
        <div class="AVED-upload-img" id="AVED-img-3" ng-hide="tAdd">
          Upload Production Images
        </div>
      </a>
    </div>

    <div class="AVED-tickets">
      <a href="{{thisPerformance.ticket_link}}">
        <div class="AVED-ticket-btn" ng-hide="tView">
          Buy Tickets!!
        </div>
      </a>
      <input class="AVED-ticket-link" id="ticket-link" name="ticket_link" placeholder="Place Ticket Link Here" ng-hide="tAdd">
    </div>

    <div class="evt-times" ng-hide="tView">
      <label class="AVED-label">Event Times</label>
      <ul class="AVED-events-holder">
        <li class="AVED-event">  <!--ADD ng-repeat!!!-->
          <div class="event-wrapper">
            <div class="drop-down-icon">
              <i class="fa fa-arrow-right"></i>
            </div><!--
            --><div class="event-info">
              Date, Time, Location.
            </div>
            <div class="event-adv">
              <div class="cast-wrapper">
                <label>Cast</label>
                <ul class="event-cast">
                  <li class="cast-member"> <!--ADD ng-repeat!!!-->
                    Cast member name.
                  </li>
                </ul>
              </div>
              <div class="google-map">
                Google map here.
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="reviews" ng-hide="tView">
      <label class="AVED-label">Reviews</label>
      <div class="AVED-review-wrapper">
        <div class="AVED-new-review">
          <div class="review-img"><img src=""></div>
          <textarea class="new-review" id = "new-review"></textarea>
          <a href=""><div class="submit-review-btn">Add Review</div></a>
        </div>
        <ul class="AVED-reviews-holder">
          <li class="AVED-review">  <!--ADD ng-repeat!!!-->
            <div class="review-wrapper">
              <div class="review-img"><img src=""></div>
              <div class="review-name">Name of reviewer:</div>
              <div class="review-text">Review Text</div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="edit-AVED-event-times-wrapper" ng-hide="tAdd">
      <div class="edit-AVED-event-times-header">
        <label>
          Event Times
        </label>
        <a href="">
          <span class="create-new-showtime">
            New Show Time <a href=""><i class="fa fa-plus-circle" ng-click="addNewShow()"></i></a>
          </span>
        </a>
      </div>
      <div class="new-showtime-wrapper">
        <!--THIS STARTS THE SHOWTIME-->
        <div class="new-showtime-info-wrapper">
          <div class="date-time-location-wrapper">
            <input class="new-showtime-date-input" id="showtime-date" placeholder="Date">
            <input class="new-showtime-time-input" id="showtime-time" placeholder="Time">
            <input class="new-showtime-address-input" id="showtime-address" placeholder="Address: ex. 123 Example Rd">
            <input class="new-showtime-city-state-input" id="showtime-city-state" placeholder="City, State">
            <input class="new-showtime-zip-input" id="showtime-zip" placeholder="Zip Code">
          </div>
          <div>
            Cast:
          </div>
          <div class ="all-cast-members">
            <div class="new-cast-member-wrapper">
              <input class="new-cast-member-name" placeholder="Performer Name">
              <span> As </span>
              <input class="new-cast-member-position" placeholder="Position/Title">
            </div>
          </div>
          <!-- <a href=""> -->
            <span class="add-performer">Add Performer <i class="fa fa-plus-circle"></i></span>
          <!-- </a> -->
        </div>
        <div class="newShowtimes">

        </div>
        <!--THIS ENDS THE SHOWTIME -->
        <div class="Invisible-Showtime-wrapper" id="1" ng-hide="true">
          <div class="new-showtime-info-wrapper">
            <div class="date-time-location-wrapper">
              <input class="new-showtime-date-input" id="showtime-date" placeholder="Date">
              <input class="new-showtime-time-input" id="showtime-time" placeholder="Time">
              <input class="new-showtime-address-input" id="showtime-address" placeholder="Address: ex. 123 Example Rd">
              <input class="new-showtime-city-state-input" id="showtime-city-state" placeholder="City, State">
              <input class="new-showtime-zip-input" id="showtime-zip" placeholder="Zip Code">
            </div>
            <div>
              Cast:
            </div>
            <div class ="all-cast-members">
              <div class="new-cast-member-wrapper">
                <input class="new-cast-member-name" placeholder="Performer Name">
                <span> As </span>
                <input class="new-cast-member-position" placeholder="Position/Title">
              </div>
            </div>
            <!-- <a href=""> -->
              <span class="add-performer">Add Performer <i class="fa fa-plus-circle"></i></span>
            <!-- </a> -->

          </div>
        </div><!--end invisible showtime-->
      </div><!--end all the showtimes-->


      <a href="">
        <div class="btn AVED-submit-button" ng-click="addperformance()">
          Submit
        </div>
      </a>
    </div>

  </div>
  </div>
</div>
