<section class="user-profile-wrapper" ng-controller="profileCont" ng-cloak>
    <div class="action-buttons">
      <span class="action">
        <a href="#/">
          <div class="user-btn">
            Back To Search
          </div>
        </a>
      </span>
      <span class="action">
        <a href="">
          <div class="user-btn" id="editprofilebutton" ng-click="show = !show; edituser()" ng-hide="show">
            Edit Profile
          </div>
        </a>
      </span>
      <span class="action">
        <a href="">
          <div class="user-btn" ng-click="show = !show" ng-show="show">
            View Profile
          </div>
        </a>
      </span>
      <span class="action">
        <a href="#/company" ng-show="{{currentuser.user_info.is_professional}}">
          <div class="user-btn" id="createcompanybutton" ng-click="show = !show; tocompany('CREATE')">
            Create Company
          </div>
        </a>
      </span>
    </div><!--ends actions-->

  <header class="user-profile-header">
    <div class="add-user-image-wrapper user-image-wrapper" ng-show="show">
      <div>
        Add Image
        <input name="file" type="file" profile-image="profileUpload"><br>
        <br>
     </div>
   </div><!--
 --><div class="user-header-image-wrapper" ng-hide="show">
      <img ng-src="{{viewuser.image_url}}" width="500" height="500">
    </div><!--
    --><div class="profile-user-info-wrapper">
        <div class="display-user-name" ng-hide="show">First Name Last Name</div>
        <input class="user-profile-input edit-display-user-name" placeholder="First Name Last Name" id="user-name" ng-show="show">
        <div class="display-user-titles" ng-hide="show"></div>
        <input type="hidden" class="edit-display-user-titles-id" id="user-titles-id" ng-show="show">
        <input class="user-profile-input edit-display-user-titles" placeholder="Add Titles Here" id="user-titles" ng-show="show">
        <div class="display-user-creation-date" ng-hide="show"></div>
        <input class="edit-social-link" id="edit-youtube" placeholder="Add youtube link" ng-show="show">
        <input class="edit-social-link" id="edit-twitter" placeholder="Add twitter link" ng-show="show">
        <input class="edit-social-link" id="edit-facebook" placeholder="Add facebook link" ng-show="show">
        <input class="edit-social-link" id="edit-instagram" placeholder="Add instagram link" ng-show="show">
        <a href="" target="_blank">
          <div class="user-youtube-link" ng-hide="show">
            <i class="fa fa-youtube"></i>
          </div>
        </a>
        <a href="" target="_blank">
          <div class="user-twitter-link" ng-hide="show">
            <i class="fa fa-twitter"></i>
          </div>
        </a>
        <a href="" target="_blank">
          <div class="user-facebook-link" ng-hide="show">
            <i class="fa fa-facebook"></i>
          </div>
        </a>
        <a href="" target="_blank">
          <div class="user-instagram-link" ng-hide="show">
            <i class="fa fa-instagram"></i>
          </div>
        </a>
        <div class="side-info-user-description" ng-hide="show"></div>
        <div class="edit-user-description-label" ng-show="show">
          Add Description:
        </div>
        <textarea class="edit-user-description" id="user-desc" ng-show="show"></textarea>

        <a href="#/userprofile" ng-click="show = !show; saveuser()" ng-show="show"><div class="submit-profile-edits-button">Save</div></a>

    </div>  <!--End user info wrapper-->
  </header>

  <div class="user-profile-info-wrapper">
    <div class="user-main-info-wrapper">
  <div class="profile-container">
    <div class="company-and-reviews-container">
      <div class="user-company-wrapper" ng-hide="show">
        <label class="user-company-label">Companies:</label>
        <div class="associated-company-name" ng-repeat="company in viewuser.companies" ng-click="usercompany()">
          <a href="#/company" ng-click="tocompany('SHOW')">
            <div class="user-company-image-wrapper">
              <img class="user-company-image" ng-src="{{company.profile_image_url}}">
            </div>
            <div class="user-company-name">
              {{company.name}}
            </div>
          </a>
        </div>
      </div>  <!--End user company wrapper-->

      <div class="user-review-wrapper" ng-hide="show">
        <label class="user-review-label">Reviews:</label>
        <div class="user-review" ng-repeat="review in viewuser.reviews" id="{{review.reviewee_type}}-{{review.reviewee_id}}">
          <a href="#/{{review.reviewee_type.toLowerCase()}}">
            <div class="review-target-company" ng-click="toreviewee()">
              {{review.reviewee_name}}
            </div>
          </a>
          <div class="review-time-placed">
            {{review.created_at}}
          </div>
          <div class="review-text">
            {{review.opinion}}
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
