<section class="user-profile-wrapper">
  <header class="user-profile-header">
    <a href="#/">
      <div class="to-search-btn">
        Back To Search
      </div>
    </a>
    <div class="user-header-txt-wrapper">
      <label class="user-header-displayname">
        Display Name
      </label>
      <label class="user-header-professional">
        Professional
      </label>
    </div>
  </header>
  <div class="user-profile-info-wrapper">
    <div class="user-main-info-wrapper">
      <div class="user-image-wrapper">
        <img src="" class="user-profile-image">
      </div>
      <!-- <a href="">
        <div class="add-user-image-wrapper user-image-wrapper">
          Add Image
        </div>
      </a> -->
      <div class="user-name-title-wrapper">
        <div class="display-user-name">
         &nbsp;&nbsp;First Name Last Name
        </div>
        <div class="display-user-titles">
          &nbsp;&nbsp;User Titles
        </div>
        <!-- <input class="user-profile-input display-user-titles" placeholder="Add Titles Here" id="user-titles"> -->
        <div class="display-user-creation-date">
          &nbsp;&nbsp;Member Since: Date.
        </div>
      </div>
    </div>
    <div class="user-side-info-wrapper">
      <div class="user-social-links-wrapper">
        <!-- <input class="edit-social-link" id="edit-youtube" placeholder="Add youtube link">
        <input class="edit-social-link" id="edit-twiter" placeholder="Add twitter link">
        <input class="edit-social-link" id="edit-facebook" placeholder="Add facebook link">
        <input class="edit-social-link" id="edit-instagram" placeholder="Add instagram link"> -->
        <a href="">
          <div class="user-youtube-link">
            <i class="fa fa-youtube"></i>
          </div>
        </a>
        <a href="">
          <div class="user-twitter-link">
            <i class="fa fa-twitter"></i>
          </div>
        </a>
        <a href="">
          <div class="user-facebook-link">
            <i class="fa fa-facebook"></i>
          </div>
        </a>
        <a href="">
          <div class="user-instagram-link">
            <i class="fa fa-instagram"></i>
          </div>
        </a>
      </div>
      <div class="side-info-display-name">
        Display Name
      </div>
      <div class="side-info-user-description">
        THIS IS THE DESCRIPTION OF MY CRAAAAAZY NEW PERSON!!!!!
      </div>
      <!-- <div class="edit-user-description-label">
        Add Description:
      </div>
      <textarea class="edit-user-description" id="user-desc"></textarea> -->
    </div>
  </div>
</section>
