<!DOCTYPE html>
<html lang="en" ng-app="TheSceneryapp">
<head>
  <meta charset="UTF-8">
  <title>The Scenery</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css' rel='stylesheet'>
  <script src="assets/js/app.js"></script>
  <script src="assets/js/perfAVEDcontroller.js"></script>
  <link href ="assets/css/preformanceAVED.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body ng-controller="perfAVEDcont">
<div class="killme" ng-hide="false">
    {{message}}<br>

  <div class="btn" ng-click="toggle('ADD')">Add</div>
  <div class="btn" ng-click="toggle('VIEW')">View</div>
  <div class="btn" ng-click="toggle('EDIT')">Edit</div>

  <div class ="add" ng-hide="tAdd">
    This is visible only when the user is initially adding a performance.
  </div>

  <div class ="view" ng-hide="tView">
    this is visible only when the user is just viewing the performance listing.
  </div>

  <div class="edit" ng-hide="tEdit">
    this is visible only when the user is editing an already created performance listing.
  </div>
</div><!--end kill me-->

<div class="heroImgContainer">
  <img src="assets/images/lesmis-2.jpg" class ="heroImg">
  <div class ="heroImgWordsContainer" ng-hide="tView">
    COMPANYNAME presents <br> PERFORMANCENAME
  </div>
  <a href="">
    <div class="new-hero-image" ng-hide="tAdd">
      Add New Hero Image
    </div>
  </a>
  <div class="heroImgWordsContainer edit-hero-Img-Words-Container" ng-hide="tAdd">
    <select class="hero-img-creator-dropdown">
      <option selected disabled>Creator</option>  <!--might need ng-repeat for this-->
      <option>Company Name</option>
      <option>Professional ID</option>
    </select>
    <span> presents </span><br>
    <input class="hero-img-performance-name" id="performance-name" placeholder="Performance Name">
  </div>
</div>

<div class="performanceInfoContainer">
  <div class="authorized">
    <!--if user is on the authorized user list for any company involved in this production then, display an option to edit this prodcution-->
  </div>

  <div class="performanceDescription" ng-hide="tView">
    Jean Valjean, after spending nineteen years in jail and in the galleys for stealing a loaf of bread and for several attempts to escape, is finally released, but his past keeps haunting him. At Digne, he is repeatedly refused shelter for the night. Only the saintly bishop, Monseigneur Myriel, welcomes him. Valjean repays his host's hospitality by stealing his silverware. When the police bring him back, the bishop protects his errant guest by pretending that the silverware is a gift. With a pious lie, he convinces them that the convict has promised to reform. After one more theft, Jean Valjean does indeed repent. Under the name of M. Madeleine he starts a factory and brings prosperity to the town of Montreuil.
  </div>

  <textarea class="edit-performanceDescription" ng-hide="tAdd"></textarea>

  <div class="leftCol">
    <div class="AVED-genre" ng-hide="tView">
      Genre: genre here.
    </div>
    <div class="AVED-genre" ng-hide="tAdd">
      Genre:
      <select class="edit-AVED-genre" ng-hide="tAdd">
        <option selected disabled>Pick A Genre</option>
        <option>pull here</option>
      </select>
    </div>
    <a href="">
      <div class="AVED-trailer-link" ng-hide="tView">
        View Trailers
      </div>
    </a>
    <div class="edit-AVED-trailer-link" ng-hide="tAdd">
      Trailer Link:
      <input class="edit-AVED-trailer-link-input" id="trailer-link">
    </div>
  </div>

  <div class="rightCol">
    <div class="AVED-tags" ng-hide="tView">
      Tags: tags here
    </div>
    <div class="edit-AVED-tags" ng-hide="tAdd">
      Tags: <input class="edit-AVED-tags-input" id="tags">
    </div>
    <a href="">
      <div class="AVED-prod-images" ng-hide="tView">
        View Prodution Images
      </div>
    </a>
    <a href="">
      <div class="AVED-upload-img" id="AVED-img-1" ng-hide="tAdd">
        Upload Production Images
      </div>
    </a>
    <a href="">
      <div class="AVED-upload-img" id="AVED-img-2" ng-hide="tAdd">
        Upload Production Images
      </div>
    </a>
    <a href="">
      <div class="AVED-upload-img" id="AVED-img-3" ng-hide="tAdd">
        Upload Production Images
      </div>
    </a>
  </div>

  <div class="AVED-tickets">
    <a href="">
      <div class="AVED-ticket-btn" ng-hide="tView">
        Buy Tickets!!
      </div>
    </a>
    <input class="AVED-ticket-link" id="ticket-link" placeholder="Place Ticket Link Here" ng-hide="tAdd">
  </div>

  <div class="evt-times" ng-hide="tView">
    <label class="AVED-label">Event Times</label>
    <ul class="AVED-events-holder">
      <li class="AVED-event">  <!--ADD ng-repeat!!!-->
        <div class="event-wrapper">
          <div class="drop-down-icon">
            <i class="fa fa-arrow-right"></i>
          </div><!--
          --><div class="event-info">
            Date, Time, Location.
          </div>
          <div class="event-adv">
            <div class="cast-wrapper">
              <label>Cast</label>
              <ul class="event-cast">
                <li class="cast-member"> <!--ADD ng-repeat!!!-->
                  Cast member name.
                </li>
              </ul>
            </div>
            <div class="google-map">
              Google map here.
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="reviews" ng-hide="tView">
    <label class="AVED-label">Reviews</label>
    <div class="AVED-review-wrapper">
      <div class="AVED-new-review">
        <div class="review-img"><img src=""></div>
        <textarea class="new-review" id = "new-review"></textarea>
        <a href=""><div class="submit-review-btn">Add Review</div></a>
      </div>
      <ul class="AVED-reviews-holder">
        <li class="AVED-review">  <!--ADD ng-repeat!!!-->
          <div class="review-wrapper">
            <div class="review-img"><img src=""></div>
            <div class="review-name">Name of reviewer:</div>
            <div class="review-text">Review Text</div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="edit-AVED-event-times-wrapper" ng-hide="tAdd">
    <div class="edit-AVED-event-times-header">
      <label>
        Event Times
      </label>
      <a href="">
        <span class="create-new-showtime">
          New Show Time <i class="fa fa-plus-circle"></i>
        </span>
      </a>
    </div>
    <div class="new-showtime-wrapper">
      <div class="new-showtime-info-wrapper">
        <div class="date-time-location-wrapper">
          <input class="new-showtime-date-input" id="showtime-date" placeholder="Show Date">
          <input class="new-showtime-time-input" id="showtime-time" placeholder="Show Time">
          <input class="new-showtime-address-input" id="showtime-address" placeholder="Address: ex: 123 Example Rd">
          <input class="new-showtime-city-state-input" id="showtime-city-state" placeholder="City, State">
          <input class="new-showtime-zip-input" id="showtime-zip" placeholder="Zip Code">
        </div>
        <div>
          Cast:
        </div>
        <div class="new-cast-member-wrapper">
          <input class="new-cast-member-name" placeholder="Performer Name">
          <span> As </span>
          <input class="new-cast-member-position" placeholder="Position/Title">
          <a href="">
            <span class="add-performer">Add Performer <i class="fa fa-plus-circle"></i></span>
          </a>
        </div>
      </div>
      <div class="new-showtime-clone-wrapper">
      </div>
    </div>
  </div>

</div>



</body>
</html>
