<!DOCTYPE html>
<html lang="en" ng-app="TheSceneryapp">
<head>
  <meta charset="UTF-8">
  <title>The Scenery</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css' rel='stylesheet'>
  <script src="assets/js/app.js"></script>
  <script src="assets/js/perfAVEDcontroller.js"></script>
  <link href ="assets/css/preformanceAVED.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body ng-controller="perfAVEDcont">
<div class="killme" ng-hide="true">
    {{message}}<br>

  <div class="btn" ng-click="toggle('ADD')">Add</div>
  <div class="btn" ng-click="toggle('VIEW')">View</div>
  <div class="btn" ng-click="toggle('EDIT')">Edit</div>

  <div class ="add" ng-hide="tAdd">
    This is visible only when the user is initially adding a performance.
  </div>

  <div class ="view" ng-hide="tView">
    this is visible only when the user is just viewing the performance listing.
  </div>

  <div class="edit" ng-hide="tEdit">
    this is visible only when the user is editing an already created performance listing.
  </div>
</div><!--end kill me-->

<div calss="heroImgContainer">
  <img src="assets/images/lesmis-2.jpg" class ="heroImg">
  <div class ="heroImgWordsContainer">
    COMPANYNAME presents <br> PERFORMANCENAME
  </div>
</div>

<div class="preformanceInfoContainer">
  <div class="authorized">
    <!--if user is on the authorized user list for any company involved in this production then, display an option to edit this prodcution-->
  </div>

  <div class="preformanceDescription">
    Jean Valjean, after spending nineteen years in jail and in the galleys for stealing a loaf of bread and for several attempts to escape, is finally released, but his past keeps haunting him. At Digne, he is repeatedly refused shelter for the night. Only the saintly bishop, Monseigneur Myriel, welcomes him. Valjean repays his host's hospitality by stealing his silverware. When the police bring him back, the bishop protects his errant guest by pretending that the silverware is a gift. With a pious lie, he convinces them that the convict has promised to reform. After one more theft, Jean Valjean does indeed repent. Under the name of M. Madeleine he starts a factory and brings prosperity to the town of Montreuil.
  </div>

  <div class="leftCol">
    <div class="AVED-genre">
      Genre: genre here.
    </div>
    <a href="">
      <div class="AVED-trailer-link">
        View Trailers
      </div>
    </a>
  </div>

  <div class="rightCol">
    <div class="AVED-tags">
      Tags: tags here
    </div>
    <a href="">
      <div class="AVED-prod-images">
        View Prodution Images
      </div>
    </a>
  </div>

  <div class="AVED-tickets">
    <a href="">
      <div class="AVED-ticket-btn">
        Buy Tickets!!
      </div>
    </a>
  </div>

  <div class="evt-times">
    <label class="AVED-label">Event Times</label>
    <ul class="AVED-events-holder">
      <li class="AVED-event">  <!--ADD ng-repeat!!!-->
        <div class="event-wrapper">
          <div class="drop-down-icon">
            <i class="fa fa-arrow-right"></i>
          </div><!--
          --><div class="event-info">
            Date, Time, Location.
          </div>
          <div class="event-adv">
            <div class="cast-wrapper">
              <label>Cast</label>
              <ul class="event-cast">
                <li class="cast-member"> <!--ADD ng-repeat!!!-->
                  Cast member name.
                </li>
              </ul>
            </div>
            <div class="google-map">
              Google map here.
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="reviews">
    <label class="AVED-label">Reviews</label>
    <div class="AVED-review-wrapper">
      <div class="AVED-new-review">
        <div class="review-img"><img src=""></div>
        <textarea class="new-review" id = "new-review"></textarea>
        <div class="submit-review-btn">Add Review</div>
      </div>
      <ul class="AVED-reviews-holder">
        <li class="AVED-review">  <!--ADD ng-repeat!!!-->
          <div class="review-wrapper">
            <div class="review-img"><img src=""></div>
            <div class="review-name">Name of reviewer</div>
            <div class="review-text">REVIEW TEXT</div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>



</body>
</html>
