//dark maroon
// $popCol1: rgb(89, 25, 45);
$bgColor: #d7d9db;
$cardColor: #efefef;
$lightBlueish: #92A7BF;
$burgundy: #991010;

$popCol1: rgb(166, 16, 63);

.action-buttons{
  background: $bgColor;
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 10px 0;
  padding-left: 10px;
}

.action{
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  // &:last-child{
  //   float: right;
  //   margin-right: 100px;
  // }
}

.submit-review-btn,
.company-btn{
  padding: 5px 10px;
  border-radius: 5px;
  vertical-align: top;
  font-size: 16px;
  font-family: helvetica, sans-serif;
  // width: 125px;
  background: rgba(235, 235, 235, 0.8) !important;
  // border: 3px solid $popCol1 !important;
  color: darken($popCol1, 10%);
  &:hover{
    background: rgba(255, 255, 255, 1) !important;
  }
}

.delete-company-btn{
  background: rgba(255, 235, 235, 0.8) !important;
  &:hover{
    background: rgba(255, 100,100, 1) !important;
  }
}

.company-wrapper{
  background: $bgColor;
}

.company-header{
  border-bottom: #999;
  position: relative;
}

.company-hero-image{
  background: $lightBlueish;
  // -webkit-filter: blur(1px) saturate(50%);
  height: 600px;
  width: 100%;
}

.company-name-type-wrapper{
  // z-index:-1;
  // display: inline-block;
  // border: 5px solid $popCol1;
  position: absolute;
  top:50px;
  width: 100%;
  height: 550px;
  text-align: center;
}
  //this is for the major page headings.
  h1{
    font-size: 40px;
    color: $cardColor;
    text-align:center;
    font-family: 'webfont', arial, sans-serif;
    // font-family: 'Holtwood One SC', serif;
    //font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    //burgundy in color
  }
  h2{
    font-size: 20px;
    font-family: helvetica, sans-serif;
    font-weight: 900;
    text-align:center;
    color: darken($lightBlueish, 20%);
    //darker version of the background blue
  }
  h3{
    font-size: 30px;
    font-family: helvetica, sans-serif;
    font-weight: 600;
    text-align:center;
    //black, but bigger than standard text.
  }
  //h4 is used primarily on performance names when listed on a company page.
  h4{
    font-size: 30px;
    font-family: helvetica, sans-serif;
    font-weight: 900;
    text-align:center;
  }

.company-name{
  margin-left: 5%;
  padding-bottom: 10px;
  border-bottom: 1px $lightBlueish solid;
  text-align: left;
  // margin-top:-300px;
}

.company-type{
  font-size: 30px;
  // color: #eee;
  margin-top: 15px;
}

.company-location{
  font-size: 16px;
  text-align: center;
  display: inline-block;
  // border: 1px solid blue;
  // margin: 27px 0 10px 0;
}

.company-details-wrapper{
  vertical-align: top;
  display: inline-block;
  position:relative;
  width: 50%;
  margin-left:50px;
  //  width: 40%;
  //  display: inline-block;
  // position: relative;
  // margin-left: 440px;
  // text-align: center;
  // margin-top: 50%;
  // background: red;
}

.company-description{
  display: inline-block;
  text-align: left;
  height: 480px;
  z-index: 4;
  color: white;
  font-size: 22px;
  background: rgba(0,0,0,.5);
  // margin-left: 50%;
  // position: absolute;
  // margin-top: -300px;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
}

.company-social{
  // bottom: 17px;
  margin-top: 50px;
  margin-bottom: 50px;
  div{
    display: inline-block;
  }
}

.company-website{
  padding-left: 10px;
  width: 100px;
  overflow: hidden;
}

.mediaWrapper{
  margin-top: 300px;
}

.media{
  font-size: 25px;
  // border: 3px solid darken($popCol1, 15%);
  border-radius: 50%;
  background: $bgColor;
  // margin-top: 15px;
  margin-right: 5px;
  margin-left: 15px;
}

.media-youtube{
  padding: 5px 7px;
}

.media-twitter{
  padding: 5px 6px;
}

.media-facebook{
  padding: 5px 10px;
}

.media-instagram{
  padding: 5px 7px;
}

.O-p-R-wrapper{
  width: 90%;
  margin: 50px auto;
  text-align: center;
}

.allTabContents{
  margin-top:-20px;
  background: $cardColor;
  height:100%;
  width:90%;
  margin: auto;
  // text-align:center;
}

.tabBox{
  width:90%;
  // padding-bottom: 11px;
  margin: auto;
  border-bottom: 1px solid  $burgundy;
  text-align: center;
}

.TabActual{
  display: inline-block;
  padding: 10px;
  background: $lightBlueish;
  border-bottom: $burgundy 1px solid;
  margin-bottom: -1px;

}

.TabSelected{
  background: $cardColor;
  border-left: 1px $burgundy solid;
  border-top: 1px $burgundy solid;
  border-right: 1px $burgundy solid;
  border-bottom: $cardColor 2px solid;
  margin-bottom: -1px;

}


//   display: inline-block;
//   width: 100%;
//   margin-right: -4px;
//   vertical-align: top;
// }
.opportunities-wrapper,
.company-performances-wrapper,
.company-reviews-holder{
  display: inline-block;
  width: 90%;
  // margin: auto;
  vertical-align: top;
}


.opportunities-label,
.company-performances-label,
.company-reviews-label{
  text-align: center;
  border-radius: 5px;
}

.company-performances-label{
  // margin-top: -15px;
  display:inline-block;
}

.company-opportunity{
  background: $bgColor;
  text-align: left;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  // border: 1px solid #999;
  padding: 10px;
  border-radius: 5px;
}

.company-opportunity-poster-image-wrapper,
.company-review-img{
  width: 95px;
  height: 95px;
  // border: 3px solid $popCol1;
  display: inline-block;
  background: #444;
}

.company-ndt-wrapper,
.company-rnd-wrap{
  width: 55%;
  // border: 1px solid green;
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
  div{
    margin-bottom: 15px;
    font-size: 18px;
  }
}

.company-opportunity-description,
.company-review-text{
  font-size: 17px;
  margin-top: 15px;
}

.past-performances-label{
  margin: 0 auto;
}

.performance-image
{
  display: inline-block;
  text-align: center;
  -webkit-filter: blur(2px) saturate(30%);
  display: none;
}

.company-performance{
  display: inline-block;
  border-radius: 5px;
  background: $bgColor;
  width: 90%;
  margin: 20px auto;
  padding: 10px;

}
.company-performance-box{
  height: 100px;
  overflow:hidden;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

.performanceInfoWrapper
{
  position: absolute;
  // vertical-align: top;
  top: -400;
}

.company-box-performance-name{
  margin-bottom: 20px;
}

.company-review-wrapper{
  text-align: left;
}

.company-review{
  border-radius: 5px;
  // border: 3px solid #999;
  background: $bgColor;
  padding: 10px;
  margin-bottom: 15px;
}

.compReviewDate{
  font-size: 20px;
}
.compReviewerName{
  font-size: 25px;
  color: $popCol1;
}

.company-new-review{
  font-size: 16px;
  width: 60%;
  vertical-align: top;
  height: 200px;
  max-width: 60%;
  max-height: 200px;
}

.edit-company-name,
.create-company-name{
  // position: absolute;
  margin-top: 50px;
  // margin-left: -45%;
  display: inline-block;
  width: 300px;
  font-size: 16px;
  margin-bottom: 20px;
  // margin-left: 30%;
}

.edit-company-type,
.create-company-type{
  font-size: 16px;
}

.company-location-input-wrapper{
  width: 70%;
  // margin: 45px auto 15px auto;
}

.edit-company-location-address,
.create-company-location-address{
  width: 35%;
  font-size: 16px;
  margin-right: 15px;
}

.edit-company-location-city
.create-company-location-city{
  width: 25%;
  font-size: 16px;
  margin-right: 15px
}

.edit-company-location-state,
.create-company-location-state{
  margin-right: 15px;
}

.edit-company-location-zip,
.create-company-location-zip{
  font-size: 16px;
}

.edit-company-description-label,
.create-company-description-label{
  font-size: 18px;
  margin: 25px 0 10px 0;
}

.edit-company-description
{
  width: 80%;
  height: 200px;
}

.edit-company-description-wrapper,
.create-company-description{
  display: inline-block;
  z-index: 5;
  width: 45%;
  max-width: 45%;
  height: 100px;
  max-height: 100px;
  font-size: 17px;
  // margin-left: 50%;
}

.edit-company-media,
.create-company-media{
  vertical-align: top;
  display: block;
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
}

.company-save-btn-wrapper,
.company-create-btn-wrapper{
  width: 100px;
  margin: auto;
}

.company-save-btn,
.company-create-btn{
  padding: 5px 10px 5px 30px;
  background: #aaa;
  background-image: linear-gradient(to bottom right, #ddd, #aaa);
  // border: 1px solid #999;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.edit-company-hero-image,
.create-company-hero-image{
  // z-index: -1;
  width: 100%;
  height: 600px;
  background: $lightBlueish;
  // margin-top:-200px;
  position: absolute;
  // margin: 40px 0 0 40px;
  // background: #red;
  padding: 5px;
  border-radius: 5px;
}

// #filebtn2{
//   background: rgba(0,0,0,0);
//   color: white;
//   font-family: impact, sans-serif;
//   font-size: 20px;
//   border: 2px solid white;
//   height: 100%;
//   width:300px;
//   z-index:2;
// }
// #filebtn2:hover{
//
// }

.edit-company-profile-pic,
.company-profile-pic{
  display: inline-block;
  width:500px;
  height:500px;
  background: #444;
  margin-right: 20px;
  // border: 5px solid $popCol1;
  border-radius: 5px;
}

.moveform{
  margin-top: -105px;
  color: white;
}

.editformcolor{
  margin-top: 40px;
  color: white;
}

.company-create-opportunity-modal-wrapper{
  position: fixed;
  background: rgba(0,0,0,0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.company-create-opportunity-modal{
  width: 450px;
  margin: 10% auto 0 auto;
  padding: 50px 50px;
  background: #ccc;
  border-radius: 5px;
}

.company-create-opportunity-title{
  text-align: center;
  font-size: 16px;
}

.opportunity-title-input{
  font-size: 16px;
  margin-top: 15px;
  width: 60%;
}

.company-create-opportunity-description{
  text-align: center;
  font-size: 16px;
  padding: 25px 0;
}

.opportunity-description-input{
  font-size: 16px;
  width: 80%;
  max-width: 80%;
  height: 125px;
  max-height: 200px;
  margin-top: 25px;
}

.opportunity-contact-info{
  text-align: center;
  font-size: 16px;
  margin: 15px;
}

.opportunity-contact-info-input{
  font-size: 16px;
  width: 80%;
  margin: 15px 0;
}

.opportunity-save-btn-wrapper{
  width: 80%;
  margin: auto;
}
.opportunity-save-btn{
  display: inline-block;
  background: #aaa;
  background-image: linear-gradient(to bottom right, #999, #aaa);
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  &:hover{
    background: #999;
    background-image: linear-gradient(to bottom right, #aaa, #999);
    color: white;
  }
}

.opportunity-cancel-btn{
  display: inline-block;
  padding: 8px;
  background: red;
  background-image:linear-gradient(to bottom right, red, rgb(200, 0, 0));
  border-radius: 5px;
  float: right;
  &:hover{
    background-image: linear-gradient(to bottom right, rgb(200, 0, 0), red);
    color: white;
  }
}

.hidden{
  display: none;
}
