$bgColor: #c7cacc;
$popCol1: rgb(89, 25, 45);
$inputColor: rgb(235, 242, 162);
$inputBG: rgba(255, 255, 255, .5);
$inputBorder: rgb(129, 39, 66);
$inputPlaceholder: rgb(77, 11, 11);

$burgundy: #991010;
$lightBlueish: #92A7BF;




//#b6aba2

html{
  background: $bgColor;
  font-family: 'Merriweather', serif;
}

.header{

  h1{
    font-size: 30px;
    color: $burgundy;
    text-align:center;
    font-family: 'Holtwood One SC', serif;
    font-weight: bold;
  }
  
  background: rgba(199,202,204,.5);//$bgColor;
  padding: 10px;
  // border-bottom: 1px solid $popCol1;
  height:100px
}

.tohome{
  display: inline-block;
  vertical-align: middle;
  margin-left: 25px;
}

.scenery-logo{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: black;
  vertical-align: middle;
  border-radius: 80px;
}
.header-user-portrait{
  float:right;
  display: inline-block;
  background: black;
  vertical-align: middle;
}

// .btn{
//   display: inline-block;
//   padding: 10px 10px;
//   background: $inputBG;
//   background-image: linear-gradient(to bottom right, #ddd, #aaa);
//   border: 2px solid $inputBorder;
//   border-radius: 3px;
//   vertical-align:bottom;
// }

.modal-close-btn{
  float: right;
  background: $inputBorder !important;
  color: #ddd;
  // background-image:linear-gradient(to bottom right, red, rgb(200, 0, 0)) !important;
  &:hover{
    background: lighten($inputBorder, 5%) !important;
    // background-image: linear-gradient(to bottom right, rgb(200, 0, 0), red);
    color: white;
  }
}

a{
  text-decoration: none;
  color: black;
}

.header-user-greeting{
  font-size: 30px;
}

.header-user-wrapper{
  float: right;
  display: inline-block;
  vertical-align: middle;
  margin-right: 35px;
}

.noLogBtnBank,
.subUserInfoHeader{
  margin-left: 10px;
  text-align: center;
  float:right;
  display: block;
}



.login-btn,
.sign-up-btn,
.logout-btn,
.header-user-profile{
  font-family: helvetica, sans-serif;
  font-size: 16px;
  width: 125px;
  margin-top: 5px;
  background: rgba(235, 235, 235, 0.8) !important;
  // border: 3px solid $inputBorder !important;
  color: darken($inputBorder, 10%);
  &:hover{
    background: rgba(255, 255, 255, 1) !important;
  }
}
.logout-btn{
  background: rgba(255, 235, 235, 0.8) !important;
}
.logout-btn:hover{
  background: rgba(255, 100,100, 1) !important;
}

.logged-header{
  display: none;
  // background: rgba(199,202,204,.5);
}

.modal-wrapper{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  display: none;
}

.modal-box{
  background: #ccc;
  width: 650px;
  height: 300px;
  margin: 200px auto 0 auto;
  padding: 40px;
  border-radius: 5px;
  // border: 1px solid #bbb;
}

.modal-welcome{
  font-size: 26px;
  text-align: center;
}

.modal-user-input-wrapper{
  margin-top: 60px;
}

.modal-label-wrapper{
  display: inline-block;
  vertical-align: top;
  margin-left: 115px;
  margin-right: 15px;
  label{
    display: block;
    margin: 5px 0;
    line-height: 1.5;
  }
}

.modal-input-wrapper{
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  input{
    font-size: 14px;
    margin: 5px 0;
    display: block;
    width: 250px;
  }
}

.modal-button-holder{
  width: 50%;
  margin: auto;
  margin-top: 35px;
}

// .modal-facebook-btn{
//   float: right;
//   background: blue;
//   color: white;
// }

.modal-login-btn{
  display: block;
  padding-left: 17px;
  width: 50px;
  margin: 0 auto;
}

.hidden{
  display: none;
}

.showing{
  display: block;
}

.modal-radio-container{
  margin-top: 15px;
  text-align: center;
}

.modal-radio{
  padding-top: 15px;
}
