$popCol1: rgb(89, 25, 45);
$inputColor: rgb(235, 242, 162);
$inputBG: rgba(255, 255, 255, .5);
$inputBorder: rgb(129, 39, 66);
$inputPlaceholder: rgb(77, 11, 11);

.header{
  background: #eee;
  padding: 10px;
  border-bottom: 1px solid $popCol1;
  height:100px
}

.scenery-logo{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: black;
  vertical-align: middle;
  border-radius: 80px;
}
.header-user-portrait{
  float:right;
  display: inline-block;
  width: 75px;
  height: 75px;
  background: black;
  vertical-align: middle;
}

.btn{
  display: inline-block;
  padding: 10px 10px;
  background: $inputBG;
  background-image: linear-gradient(to bottom right, #ddd, #aaa);
  border: 2px solid $inputBorder;
  border-radius: 3px;
  vertical-align:bottom;
}

.modal-close-btn{
  float: right;
  background: red !important;
  background-image:linear-gradient(to bottom right, red, rgb(200, 0, 0)) !important;
  &:hover{
    background-image: linear-gradient(to bottom right, rgb(200, 0, 0), red);
    color: white;
  }
}

a{
  text-decoration: none;
  color: black;
}

.login-btn,
.sign-up-btn,
.logout-btn{
  float: right;
  margin-right: 15px;
  margin-top: 70px;
  // vertical-align: bottom;
}

.header-user-wrapper{
  display: inline-block;
  vertical-align: middle;
  margin-left: 35px;
}

.header-user-greeting{
  font-size: 18px;
  padding-bottom: 5px;
}

.header-user-profile{
  text-decoration: underline;
  color: #666;
}

.logged-header{
  display: none;
}

.modal-wrapper{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  display: none;
}

.modal-box{
  background: #ccc;
  width: 650px;
  height: 300px;
  margin: 200px auto 0 auto;
  padding: 40px;
  border-radius: 5px;
  border: 1px solid #bbb;
}

.modal-welcome{
  font-size: 26px;
  text-align: center;
}

.modal-user-input-wrapper{
  margin-top: 60px;
}

.modal-label-wrapper{
  display: inline-block;
  vertical-align: top;
  margin-left: 115px;
  margin-right: 15px;
  label{
    display: block;
    margin: 5px 0;
    line-height: 1.5;
  }
}

.modal-input-wrapper{
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  input{
    font-size: 14px;
    margin: 5px 0;
    display: block;
    width: 250px;
  }
}

.modal-button-holder{
  width: 50%;
  margin: auto;
  margin-top: 35px;
}

.modal-facebook-btn{
  float: right;
  background: blue;
  color: white;
}

.modal-login-btn{
  display: block;
  padding-left: 17px;
  width: 50px;
  margin: 0 auto;
}

.hidden{
  display: none;
}

.showing{
  display: block;
}

.modal-radio-container{
  margin-top: 15px;
  text-align: center;
}

.modal-radio{
  padding-top: 15px;
}
