$bgColor: #c7cacc;
$cardColor: #efefef;
$lightBlueish: #92A7BF;

.btn{
  display: inline-block;
  padding: 5px 10px;
  background: #aaa;
  background-image: linear-gradient(to bottom right, #ddd, #aaa);
  border: 1px solid #999;
  border-radius: 3px;
  vertical-align: middle;
}

body{
  background: $bgColor;
}

a{
  text-decoration: none;
  color: black;
}

.heroImgContainer{
  position: relative;
}
.heroImg{
  width: 100%;
  height: 500px;
  -webkit-filter: sepia(50%);
}
.heroImgWordsContainer{
  background: rgba(0,0,0,0.6);
  border-radius:5px;
  padding:10px;
  color: white;
  width: 70%;
  margin-top: -450px;
  margin-left: 15%;
  position: absolute;
  height: 400px;
}

.this-performance-names{
  width: 40%;
  margin: auto;
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Merriweather Sans', sans-serif;
}

.this-performance-company-name{
  font-size: 20px;
}

.presents{
  font-size: 18px;
}

.this-performance-name{
  font-size: 35px;
}

.this-performance-company-name{
  div{
    font-size: 16px;
    margin: 10px 0 15px 0;
  }
}

.performanceDescription{
  margin: 25px auto 0 auto;
  width: 80%;
  color: #eee;
  font-size: 16px;
  font-family: 'Merriweather', serif;
  border-bottom: 1px solid #999;
  padding-bottom: 25px;
}

.this-performance-link-wrapper{
  display: inline-block;
  width: 80%;
  margin: 25px 0 0 10%;
}

.AVED-trailer-link{
  color: #444;
  background: rgba(235, 235, 235, 0.8);
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}

.AVED-genre{
  display: inline-block;
  font-size: 20px;
}

.AVED-ticket-btn{
  display: inline-block;
  color: #eee;
  // background: rgba(235, 235, 235, 0.8);
  background: rgba(0, 185, 0, 0.9);
  padding: 10px;
  border-radius: 5px;
}

.performance-genre-wrapper{
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.performance-trailer-wrapper{
  width: 33%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.performance-ticket-wrapper{
  width: 33%;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  margin-left: 6px;
}

.AVED-ticket-link{
  font-size: 16px;
  width: 50%;
}

.hero-img-performance-name{
  width: 300px;
  font-size: 16px;
  margin: 20px 0;
}

.edit-hero-Img-Words-Container{
  background: rgba(0,0,0,0.6);
  border-radius:5px;
  padding:10px;
  color: white;
  width: 70%;
  margin-top: -500px;
  margin-left: 15%;
  position: absolute;
  height: 450px;
}

.edit-genre-wrapper{
  font-size: 18px;
  margin-bottom: 10px;
}

.edit-performanceDescription{
  display: block;
  width: 80%;
  max-width: 90%;
  font-size: 14px;
  height: 150px;
  max-height: 150px;
  margin: auto;
}

.edit-perf-desc-label{
  display: block;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 10%;
}

.hidden{
  display: none;
}

.edit-AVED-trailer-link{
  margin: 25px 0;
}

.edit-AVED-trailer-link-input{
  width: 50%;
  font-size: 16px;
}

.add-image-container{
  position: absolute;
  margin-top: -65px;
  margin-left: 65%;
  label{
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
  }
}















.AVED-event{
  border: 1px solid #888;
  background: #bbb;
  width: 100%;
}

.AVED-upload-img{
  display: inline-block;
  text-align: center;
  width: 75px;
  padding: 13px 0;
  background: #333;
  color: white;
  margin-right: 5px;
}



.AVED-label{
  display: block;
  font-size: 22px;
  margin-top: 45px;
}

.event-info{
  display: inline-block;
  font-size: 18px;
}

.drop-down-icon{
  display: inline-block;
  font-size: 18px;
  padding: 5px 10px 5px 0;
}

.drop-down-wrapper{
  border-bottom: 1px solid #888;
  width: 100%;
}

.evt-times,
.reviews{
  display: inline-block;
  width: 50%;
  text-align: center;
  vertical-align: top;
  margin-right: -2px;
  label{
    margin-bottom: 15px;
  }
}

.event-wrapper{
  text-align: left;
  padding: 10px 20px;
  // border: 1px solid green;
}

.event-adv{
  padding: 5px;
  width: 97%;
  text-align: left;
}

.event-cast{
  margin-bottom: 10px;
}

.cast-wrapper{
  display: inline-block;
  margin-right: -6px;
  label{
    display: block;
  }
}

// .google-map{
//   width: 250px;
//   height: 250px;
//   background: #444;
//   display: block;
//   margin: auto;
//   vertical-align: top;
// }

.AVED-review-wrapper{
  // border: 1px solid purple;
  width: 90%;
  margin: auto;
  text-align: left;
}

.AVED-new-review,
.review-wrapper{
  border: 1px solid #999;
  background: #bbb;
  padding: 5px;
}

.review-img{
  height: 75px;
  width: 75px;
  border: 1px solid #ccc;
  background: #555;
  display: inline-block;
  vertical-align: top;
}

.review-text{
  margin-top: 10px;
  padding-left: 1px;
}

.new-review{
  width: 77%;
  font-size: 18px;
  height: 140px;
}

.AVED-review{
  display: block;
}

.submit-review-btn{
  width: 88px;
  margin: auto;
  margin-top: 20px;
  padding: 5px 5px 5px 10px;
  background: #aaa;
  background-image: linear-gradient(to bottom right, #ddd, #aaa);
  border: 1px solid #999;
  border-radius: 3px;
  vertical-align: middle;
}

.review-wrapper{
  margin-top: 30px;
  min-height: 90px;
  padding: 10px;
}

.rnd-wrap{
  padding: 5px;
  font-size: 17px;
  display: inline-block;
  vertical-align: top;
}



// EDIT PAGE
