$bgColor: #d7d9db;
$cardColor: #efefef;
$lightBlueish: #92A7BF;
$burgundy: #991010;
$btnBlue: rgb(125, 192, 217);

$inputColor: rgb(235, 242, 162);
$inputBG: rgba(255, 255, 255, .5);
$inputBorder: rgb(129, 39, 66);
$inputPlaceholder: rgb(77, 11, 11);
$popCol1: rgb(166, 16, 63);

.action-buttons{
  background: $bgColor;
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 10px 0;
  padding-left: 10px;
}

.action{
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.btn{
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-family: helvetica, sans-serif;
  // width: 125px;
  background: rgba(235, 235, 235, 0.8) !important;
  // border: 3px solid $popCol1 !important;
  color: darken($popCol1, 10%);
    .AVED-ticket-btn{
      background: rgba(0, 185, 0, 0.9);
    }
    &:hover{
      background: rgba(255, 255, 255, 1) !important;
    }
}
#performance-delete-btn{
  background: rgba(255, 235, 235, 0.8) !important;
  &:hover{
    background: rgba(255, 100,100, 1) !important;
  }
}


body{
  background: $bgColor;
}

a{
  text-decoration: none;
  color: black;
}

.heroImgContainer{
  position: relative;
}
.heroImg{
  width: 100%;
  height: 500px;
  -webkit-filter: sepia(50%);
}
.heroImgWordsContainer{
  background: rgba(0,0,0,0.6);
  border-radius:5px;
  padding:10px;
  color: white;
  width: 70%;
  margin-top: -450px;
  margin-left: 15%;
  position: absolute;
  height: 400px;
}

.this-performance-names{
  width: 60%;
  margin: auto;
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Merriweather Sans', sans-serif;
}

.this-performance-company-name{
  cursor: pointer;
  font-size: 20px;
}

.presents{
  font-size: 18px;
}

.this-performance-name{
  font-size: 30px;
}

.this-performance-company-name{
  div{
    font-size: 16px;
    margin: 10px 0 15px 0;
  }
}

.performanceDescription{
  margin: 25px auto 0 auto;
  width: 80%;
  color: #eee;
  font-size: 16px;
  font-family: 'Merriweather Sans', sans-serif;
  border-bottom: 1px solid #999;
  padding-bottom: 25px;
  min-height: 170px;
  height: 170px;
}

.this-performance-link-wrapper{
  display: inline-block;
  width: 80%;
  margin: 25px 0 0 10%;
}

// .AVED-trailer-link{
//   color: #444;
//   background: rgba(235, 235, 235, 0.8);
//   display: inline-block;
//   padding: 10px;
//   border-radius: 5px;
// }

.AVED-genre{
  display: inline-block;
  font-size: 20px;
}



.performance-genre-wrapper{
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.performance-trailer-wrapper{
  width: 33%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.performance-ticket-wrapper{
  width: 33%;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  margin-left: 6px;
}

.AVED-ticket-link{
  font-size: 16px;
  width: 50%;
}

.hero-img-performance-name{
  width: 300px;
  font-size: 16px;
  margin: 20px 0;
}

.edit-hero-Img-Words-Container{
  background: rgba(0,0,0,0.6);
  border-radius:5px;
  padding:10px;
  color: white;
  width: 70%;
  margin-top: -500px;
  margin-left: 15%;
  position: absolute;
  height: 450px;
}

.edit-genre-wrapper{
  font-size: 18px;
  margin-bottom: 10px;
}

.edit-performanceDescription{
  display: block;
  width: 80%;
  max-width: 90%;
  font-size: 14px;
  height: 150px;
  max-height: 150px;
  margin: auto;
}

.edit-perf-desc-label{
  display: block;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 10%;
}

.hidden{
  display: none;
}

.edit-AVED-trailer-link{
  margin: 25px 0;
}

.edit-AVED-trailer-link-input{
  width: 50%;
  font-size: 16px;
}

.add-image-container{
  position: absolute;
  margin-top: -65px;
  margin-left: 65%;
  label{
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
  }
}

.evt-times,
.reviews{
  display: inline-block;
  width: 35%;
  text-align: center;
  vertical-align: top;
  margin-bottom: 40px;
  label{
    margin-bottom: 15px;
  }
}

.evt-times{
  margin-left: 15%;
}

.reviews{
  width: 36%;
}

.AVED-review-wrapper{
  width: 90%;
  float: right;
  text-align: left;
}

.AVED-events-holder{
  width: 90%;
}

.AVED-event{
  background: $cardColor;
  width: 100%;
}

.AVED-label-reviews,
.AVED-label-event{
  display: block;
  font-size: 22px;
  margin-top: 45px;
}

.AVED-label-reviews{
  margin-left: 45px;
}

.review-name{
  color: $burgundy;
}

.AVED-label-event{
  margin-left: -45px;
}

.AVED-new-review,
.review-wrapper{
  background: $cardColor;
  padding: 5px;
}

.event-info{
  display: inline-block;
  font-size: 18px;
  line-height: 1.3;
}

.drop-down-wrapper{
  padding-bottom: 10px;
  border-bottom: 1px solid #888;
  width: 100%;
}

.event-wrapper{
  text-align: left;
  padding: 10px 20px;
}

.event-adv{
  padding: 5px;
  width: 97%;
  text-align: left;
}

.event-cast{
  margin-bottom: 10px;
}

.cast-wrapper{
  display: inline-block;
  margin-right: -6px;
  label{
    display: block;
  }
}

.review-img{
  height: 95px;
  width: 95px;
  background: #555;
  display: inline-block;
  vertical-align: top;
}

.review-text{
  margin-top: 10px;
  padding-left: 1px;
}

.new-review{
  width: 70%;
  max-width: 70%;
  font-size: 18px;
  height: 140px;
  max-height: 140px;
}

.AVED-review{
  display: block;
}

// .submit-review-btn{
//   width: 88px;
//   margin: auto;
//   margin-top: 20px;
//   padding: 5px 5px 5px 10px;
//   background: #aaa;
//   background-image: linear-gradient(to bottom right, #ddd, #aaa);
//   border: 1px solid #999;
//   border-radius: 3px;
//   vertical-align: middle;
// }

.review-wrapper{
  margin-bottom: 30px;
  min-height: 90px;
  padding: 10px;
}

.rnd-wrap{
  padding: 5px;
  font-size: 17px;
  display: inline-block;
  vertical-align: top;
}

//Edit and Add Show Times

.edit-AVED-event-times-header{
  width: 30%;
  margin: 25px auto 15px auto;
  text-align: center;
  label{
    display: block;
    margin-bottom: 15px;
    font-size: 22px;
  }
}

.create-new-showtime{
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
  margin-bottom: 5px;
}

.EDIT-showtime-wrapper,
.new-showtime-wrapper{
  width: 40%;
  margin: auto;
  label{
    display: inline-block;
    width: 20%;
  }
  input{
    width: 60%;
    margin: 7px 0;
    font-size: 16px;
  }
}

.EDIT-showtime-info-wrapper,
.new-showtime-info-wrapper{
    background: $cardColor;
    margin-bottom: 20px;
    padding: 10px;
}

.removeShowtime{
  vertical-align: top;
  .deleteCheck{
    width: auto !important;
    margin-right: 5px;
  }
}

.edit-add-performance-button-wrapper{
  width: 40%;
  margin: 25px auto 45px auto;
}

#dont-create-performance,
#discard-performance-changes{
  float: right;
}
