.user-profile-wrapper {
  background: #d7d9db; }

.action-buttons {
  background: #d7d9db;
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 10px 0;
  padding-left: 10px; }

.action {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top; }

.user-btn {
  padding: 5px 10px;
  border-radius: 5px;
  vertical-align: top;
  font-size: 16px;
  font-family: helvetica, sans-serif;
  background: rgba(235, 235, 235, 0.8) !important;
  color: #770c2d; }
  .user-btn:hover {
    background: white !important; }

.user-header-image-wrapper {
  width: 40%;
  text-align: right;
  display: inline-block; }

.user-profile-header {
  background: #92A7BF;
  padding: 35px 0;
  margin-bottom: 45px; }

.to-search-btn {
  position: absolute;
  font-size: 15px;
  background: rgba(235, 235, 235, 0.8);
  color: #812742;
  padding: 7px;
  border-radius: 3px;
  margin-left: 10px;
  margin-top: -20px; }

.edit-profile-btn {
  position: absolute;
  font-size: 15px;
  background: rgba(235, 235, 235, 0.8);
  color: #812742;
  padding: 7px;
  border-radius: 3px;
  margin-left: 10px;
  margin-top: 20px; }

.user-profile-info-wrapper {
  width: 80%;
  margin: auto; }

.user-main-info-wrapper {
  width: 100%;
  display: inline-block;
  margin-right: 2%; }

.user-image-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  height: 500px;
  background: #444;
  color: white;
  font-size: 16px;
  margin-left: 5%; }

.profile-container {
  width: 80%;
  margin: auto; }

.profile-user-info-wrapper {
  background: #efefef;
  display: inline-block;
  width: 56%;
  height: 480px;
  padding: 10px;
  vertical-align: top; }

.display-user-name {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  font-family: "Holtwood One SC", sans-serif; }

.display-user-titles {
  text-align: center;
  font-size: 28px;
  color: #666;
  margin-bottom: 40px; }

.display-user-creation-date {
  text-align: center;
  font-size: 18px;
  color: #666; }

.profile-user-info-wrapper a div {
  font-size: 25px;
  display: inline-block;
  border-radius: 50%;
  background: #333;
  color: white;
  margin: 40px 0 40px 15%; }

.user-youtube-link {
  padding: 5px 7px; }

.user-twitter-link {
  padding: 5px 6px; }

.user-facebook-link {
  padding: 5px 10px; }

.user-instagram-link {
  padding: 5px 7px; }

.side-info-user-description {
  font-size: 18px;
  margin-top: 30px;
  margin-left: 25px; }

.user-profile-input {
  display: block;
  width: 50%;
  font-size: 19px;
  margin-bottom: 20px; }

.edit-social-link {
  display: block;
  font-size: 15px;
  width: 50%;
  line-height: 1.2;
  margin-bottom: 5px; }

.edit-user-description-label {
  margin: 15px 0; }

.edit-user-description {
  width: 100%;
  height: 120px;
  font-size: 16px;
  max-height: 120px;
  max-width: 100%; }

.submit-profile-edits-button {
  border-radius: 5px !important;
  font-size: 15px !important;
  background: #92A7BF !important;
  padding: 7px 25px;
  border-radius: 3px;
  width: 40px;
  margin: 25px 0 0 0 !important; }

.user-company-wrapper {
  width: 43%;
  display: inline-block;
  margin-right: 7%; }

.user-company-label,
.user-review-label {
  display: block;
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px; }

.associated-company-name {
  padding: 10px 5px;
  margin-bottom: 25px;
  background: #efefef;
  border-radius: 5px; }

.user-company-image-wrapper {
  width: 50px;
  height: 50px;
  background: #666;
  display: inline-block;
  vertical-align: top; }

.user-company-image {
  width: 50px;
  height: 50px; }

.user-company-name {
  font-size: 22px;
  display: inline-block;
  vertical-align: top;
  margin: 3px 0 0 25px;
  width: 70%; }

.company-opportunity-title {
  font-size: 25px !important; }

.company-opportunity-date-posted,
.company-opportunity-poster-name {
  color: #666; }

.user-review-wrapper {
  width: 43%;
  margin-left: 6%;
  display: inline-block;
  vertical-align: top; }

.user-review {
  background: #efefef;
  width: 100%;
  margin: auto;
  margin-bottom: 25px;
  padding: 10px 0;
  border-radius: 5px; }

.review-target-company {
  text-align: center;
  font-size: 22px;
  margin-top: 12px;
  margin-bottom: 10px; }

.review-time-placed {
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px; }

.review-text {
  text-align: center;
  font-size: 19px;
  margin-bottom: 10px; }

.company-and-reviews-container {
  width: 100%;
  padding: 10px; }

/*# sourceMappingURL=userprofile.css.map */
