.user-profile-wrapper {
  background: #c7cacc; }

.action-buttons {
  background: #c7cacc;
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 10px 0;
  padding-left: 10px; }

.action {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top; }

.user-btn {
  padding: 5px 10px;
  border-radius: 3px;
  vertical-align: top;
  font-size: 16px;
  font-family: helvetica, sans-serif;
  background: rgba(235, 235, 235, 0.8) !important;
  color: #770c2d; }
  .user-btn:hover {
    background: white !important; }

.user-profile-header {
  text-align: center;
  font-size: 50px;
  background: #92A7BF;
  padding: 35px 0;
  margin-bottom: 45px; }

.to-search-btn {
  position: absolute;
  font-size: 15px;
  background: rgba(235, 235, 235, 0.8);
  color: #812742;
  padding: 7px;
  border-radius: 3px;
  margin-left: 10px;
  margin-top: -20px; }

.edit-profile-btn {
  position: absolute;
  font-size: 15px;
  background: rgba(235, 235, 235, 0.8);
  color: #812742;
  padding: 7px;
  border-radius: 3px;
  margin-left: 10px;
  margin-top: 20px; }

.user-header-displayname {
  display: block; }

.user-header-professional {
  font-size: 35px; }

.user-profile-info-wrapper {
  width: 80%;
  margin: auto; }

.user-main-info-wrapper {
  width: 100%;
  display: inline-block;
  margin-right: 2%; }

.user-image-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 200px;
  background: #444;
  color: white;
  font-size: 16px; }

.profile-container {
  width: 80%;
  margin: auto; }

.profile-user-info-wrapper {
  background: #efefef;
  width: 100%;
  padding: 10px;
  margin: 0 auto 25px auto; }

.display-user-name {
  font-size: 24px;
  margin-bottom: 20px; }

.display-user-titles {
  font-size: 21px;
  margin-bottom: 20px; }

.profile-user-info-name-title-date {
  display: inline-block;
  width: 49%; }

.user-social-links-wrapper {
  display: inline-block;
  width: 49%;
  vertical-align: top; }
  .user-social-links-wrapper a div {
    font-size: 25px;
    display: inline-block;
    border-radius: 50%;
    background: #333;
    color: white;
    margin: 0 5px;
    margin-right: 15%; }

.user-youtube-link {
  padding: 5px 7px; }

.user-twitter-link {
  padding: 5px 6px; }

.user-facebook-link {
  padding: 5px 10px; }

.user-instagram-link {
  padding: 5px 7px; }

.side-info-user-description {
  font-size: 18px;
  margin-top: 45px; }

.user-profile-input {
  display: block;
  width: 90%;
  font-size: 19px;
  margin-bottom: 20px; }

.edit-social-link {
  display: block;
  font-size: 15px;
  width: 50%;
  line-height: 1.2;
  margin-bottom: 5px; }

.edit-user-description-label {
  margin: 15px 0; }

.edit-user-description {
  width: 100%;
  height: 120px;
  font-size: 16px;
  max-height: 120px;
  max-width: 100%; }

.submit-profile-edits-button {
  font-size: 15px;
  background: rgba(240, 240, 240, 0.8);
  padding: 7px 0 7px 30px;
  border-radius: 3px;
  width: 60px;
  margin: 20px auto 25px auto; }
  .submit-profile-edits-button:hover {
    background: rgba(230, 230, 230, 0.8); }

.user-company-wrapper {
  width: 49%;
  display: inline-block;
  margin-right: 1%; }

.user-company-label,
.user-review-label {
  display: block;
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px; }

.associated-company-name {
  padding: 5px;
  margin-bottom: 25px;
  background: #efefef; }

.user-company-image-wrapper {
  width: 50px;
  height: 50px;
  background: #666;
  display: inline-block; }

.user-company-image {
  width: 50px;
  height: 50px; }

.user-company-name {
  font-size: 25px;
  display: inline-block;
  vertical-align: top;
  margin: 15px 0 0 25px; }

.user-review-wrapper {
  width: 49%;
  display: inline-block;
  vertical-align: top; }

.user-review {
  background: #efefef;
  width: 100%;
  margin: auto;
  margin-bottom: 25px; }

.review-target-company {
  text-align: center;
  font-size: 22px;
  margin-top: 12px;
  margin-bottom: 10px; }

.review-time-placed {
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px; }

.review-text {
  text-align: center;
  font-size: 19px;
  margin-bottom: 10px; }

.company-and-reviews-container {
  width: 100%;
  padding: 10px; }

/*# sourceMappingURL=userprofile.css.map */
